<article class="article" itemscope itemprop="blogPost">
  <div class="article-inner">
      <header class="article-header">
        <%- partial('post/title', {special: true, class_name: 'article-title'}) %>
      </header>
    <div class="article-entry" itemprop="articleBody">
<div style="text-align:center; font-size:20px" id="hitokoto"></div>
<br>
<div style="text-align:right" id="hitokoto-from"></div>
    </div>
  </div>
</article>
